{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Relational Database Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Shop</a>
		<a class="navbar-brand" href="{{ url_for('basket') }}">Basket</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>CREATE ACCOUNT SUCKER</h1>
	<form method="post">
	<label for="username">Enter username:</label><br>
	<input type="text" id="username" name="username"><br>
	<label for="password">Enter password:</label><br>
	<input type="password" id="password" name="password"><br><br>
	<input type ="submit" value="Create Account">
	</form>
{% endblock %}