{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Relational Database Example{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Shop</a>
		<a class="navbar-brand" href="{{ url_for('basket') }}">Basket</a>
		<a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
	    <a class="navbar-brand" href="{{ url_for('create_account') }}">Create Account</a>
		<a class="navbar-brand" href="{{ url_for('profile') }}">Profile</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <h1>EDIT PROFILE</h1>
	<div class="container" id="customer_orders">
	<h3> Placed Orders </h3>
	{% for order_id in orders.keys() %}
    <h4> Order num: {{order_id}} </h4>
    {% for product, quantity in orders[order_id].items() %}
    <p> {{product.name}} x{{quantity}} </p>
	{% endfor %}
	{% endfor %}
	</div>
	
	<h3> Current pic </h3>
	<img src="static/profile_pics/{{ current_pic }}" width=170px height=170px>
	{% from "_formhelpers.html" import render_field %}
	<form method=post enctype="multipart/form-data" >
		<div class="form-group">
			{{ render_field(form.profile_pic) }}
		</div>
		</br>
		<p><input type=submit value="Upload pic"></p>
	</form>
{% endblock %}