{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Paraphonealia
{% endblock %}

{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/productPage.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Shop</a>
		<a class="navbar-brand" href="{{ url_for('basket') }}">Basket</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<form method="post">
<input type ="submit" name="ClearBasket" value="Clear Basket">
</form>
{% for product, quantity in basket.items() %}
<a href="productPage/{{product.id}}/{{product.name}}"><h3> {{product.name}} </h3></a>
<p> Price: £{{product.price}} </p>
<a href="productPage/{{product.id}}/{{product.name}}"><img src={{ product.picture }} width=100px height=100px></a>
<form method="post" name={{product.id}}>
<input type="hidden" name="product_id" value={{product.id}}>
<label for="quantity">Qty:</label>
<select name="quantity" id="quantity">
	{% for i in range(quantity, -1, -1) %}
		<option value={{i}}>{{i}}</option>
	{% endfor %}
</select> 
<input type="submit" value="Save" name={{product.id}}>
</form >
{% endfor %}

<p> Basket Total: {{total}} </p>
<a href="checkout" class="Button_link">Continue to Checkout</a>
{% endblock %}

