{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Paraphonealia
{% endblock %}


{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/productPage.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
		<a class="navbar-brand" href="{{ url_for('index') }}">Products</a>
		<a class="navbar-brand" href="{{ url_for('basket') }}">Basket</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div id="ProductColumn">
	<table>
		<tr>
		{% for product in products %}
		{%- if loop.index % 4 == 0 %}
		</tr>
		<tr>
		{% endif %}
		<td>
			<h3> {{product.name}} </h3>
			<p> Price: £{{product.price}} </p>
			<img src={{ product.picture }} width=100px height=100px>
			<form method="post">
				<input type="hidden" name="product_id" value={{product.id}}>
				<label for="quantity">Quantity</label>
				<input type="number" name="quantity" min=1 required>
				<input type="submit" value="Add To Basket" name={{product.id}}>
			</form>

		</td>
		{% endfor %}
		</tr>
	</table>
</div>
{% endblock %}